/* Current Fonts */
@font-face {
    font-family: 'bitstream_vera_sans_monobold';
    src: url('../css/fonts/veramobd-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoBdOb';
    src: url('../css/fonts/veramobi-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoOb';
    src: url('../css/fonts/veramoit-webfont.woff2') format('woff2'),
         url('../css/fonts/veramoit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('../css/fonts/veramono-webfont.woff2') format('woff2'),
         url('../css/fonts/veramono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* End Current Fonts */

#mainHeaderName {
	text-align: center;
	font-size: 200%;
	font-family: bitstream_vera_sans_monobold;
	color: white;
}

#mainHeader {
	background-color: #23374d;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.headDiv {
  width: 80%;
	margin: auto;
	overflow: hidden;
}

.menuList {
	list-style: none;
  display: flex;
  justify-content: center;
}

.headerMenuItem, .headerMenuItemProject {
  position: relative;
	padding-right: 25px;
  display: inline-block;
}

.headerMenuItemClass, .headerMenuItemClassProject {
	font-family: bitstream_vera_sans_monoroman;
	text-decoration: none;
	color: white;
}

.headerMenuItemClass:hover, .headerMenuItemClassProject:hover {
	color: black;
}
