@font-face {
    font-family: 'comfortaaregular';
    src: url('../css/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaabold';
    src: url('../css/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#mainHeaderName {
	text-align: center;
	font-size: 200%;
	font-family: comfortaabold;
	color: white;
}

#mainHeader {
	background-color: rgb(102,204,153);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.headDiv {
  width: 80%;
	margin: auto;
	overflow: hidden;
}

.menuList {
	list-style: none;
  display: flex;
  justify-content: center;
}

.headerMenuItem, .headerMenuItemProject {
  position: relative;
	padding-right: 25px;
  display: inline-block;
}

.headerMenuItemClass, .headerMenuItemClassProject {
	font-family: comfortaaregular;
	text-decoration: none;
	color: white;
}

.headerMenuItemClass:hover, .headerMenuItemClassProject:hover {
	color: black;
}

.projectDropDown {
  display: none;
  position: absolute;
  list-style-type: none;
  padding-top: 18px;
}

.headerMenuItemProject:hover + .projectDropDown {
  display: block;
}

.projectDropDown:hover {
  display: block;
}

.projectDropDown li {
  padding: 8px;
  background-color: rgb(102,204,204);
}

.projectDropDown li a {
  font-family: comfortaaregular;
  text-decoration: none;
  color: white;
}

.projectDropDown li a:hover {
  color: black;
}
