/* Current Fonts */
@font-face {
    font-family: 'bitstream_vera_sans_monobold';
    src: url('../css/fonts/veramobd-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoBdOb';
    src: url('../css/fonts/veramobi-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoOb';
    src: url('../css/fonts/veramoit-webfont.woff2') format('woff2'),
         url('../css/fonts/veramoit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('../css/fonts/veramono-webfont.woff2') format('woff2'),
         url('../css/fonts/veramono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* End Current Fonts */

#homelabBody {
  background-color: #e5e5e5;
}

#homelabMain {
  margin-top: 160px;
  text-align: center;
  font-family: bitstream_vera_sans_monoroman;
}

.lab-column{
  float: left;
  width: 40%;
}

.lab-row:after {
  content: "";
  display: table;
  clear: both;
}

#homelab1 {
  width: 60%;
  position: relative;
  z-index: -1;
}

#homelab2 {
  width: 60%;
  position: relative;
  z-index: -1;
}

.lab-column li{
  margin-top: 30px;
}

.lab-column li a{
  margin-top: 5px;
}
