@font-face {
    font-family: 'comfortaaregular';
    src: url('../css/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaabold';
    src: url('../css/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#indexBody {
  background-color: #bbbbbb;
}

#indexMain {
  margin-top: 160px;
  text-align: center;
  font-family: comfortaaregular;
}

.column{
  float: left;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#chris {
  border-radius: 25%;
  width: 45%;
  position: relative;
}
