@font-face {
    font-family: 'comfortaaregular';
    src: url('../css/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaabold';
    src: url('../css/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #bbbbbb;
}

#resumePDF {
	padding-top: 109px;
	width: 100%;
	border-color: none;
}

@-moz-document url-prefix() {
    #resumePDF {
      padding-top: 120px;
      width: 100%;
      border-color: none;
    }
}
